@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
	margin: 0;
	font-family: "Indie Flower", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(
		to top,
		#f3e7e9 0%,
		#e3eeff 99%,
		#e3eeff 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.carousel {
	width: 100%;
}
